<%= _.template(require('./../includes/header-index.html'))() %>
    <script>
        document.body.classList.add('body_bg');
    </script>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <main class="main">
        <div class="display display_01">
            <div class="firstscreen firstscreen_index">
                <div class="firstscreen__bg">
                    <video autoplay muted loop class="bg-video">
                        <source src="img/bg/video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="firstscreen__content">
                    <div class="container container_xxxl container_index">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="logo logo_main">
                                    <div class="logo__img"></div>
                                    <div class="logo__txt"><span class="d-xl-none">Erotic Fantasy<br>Club</span><span class="d-none d-xl-inline">Eroticfantasyclub</span></div>
                                </div>
                                <div class="firstscreen__content1">
                                    <h1 class="h1_index">The best and<br>hottest girls<br>based on your<br>matches</h1>
                                    <button class="btn btn_1 btn-index">Unlock my matches</button>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="firstscreen__content2">
                                    <div class="logo logo_search">
                                        <div class="logo__img"></div>
                                        <div class="logo__txt">Searching your<br>best matches</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondscreen secondscreen_index">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                            <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>