<%= _.template(require('./../includes/header-index.html'))() %>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <main class="main">
        <div class="display display_01">
            <div class="firstscreen firstscreen_index">
                <div class="firstscreen__bg">
                    <video autoplay muted loop class="bg-video">
                        <source src="img/bg/video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="firstscreen__content">
                    <div class="container container_xxxl container_index">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="logo logo_main">
                                    <div class="logo__img"></div>
                                    <div class="logo__txt"><span class="d-xl-none">Erotic Fantasy<br>Club</span><span class="d-none d-xl-inline">Eroticfantasyclub</span></div>
                                </div>
                                <div class="firstscreen__content1">
                                    <h1 class="h1_index">The best and<br>hottest girls<br>based on your<br>matches</h1>
                                    <button class="btn btn_1 btn-index">Unlock my matches</button>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="firstscreen__content2">
                                    <div class="logo logo_search">
                                        <div class="logo__img"></div>
                                        <div class="logo__txt">Searching your<br>best matches</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="display display_02">
            <div class="firstscreen">
                <div class="container container_xxxl container_index">
                    <div class="row align-items-xl-end">
                        <div class="col-12 col-xl-5">
                            <div class="login-form">
                                <div class="logo logo_main">
                                    <div class="logo__img"></div>
                                    <div class="logo__txt"><span class="d-xl-none">Erotic Fantasy<br>Club</span><span class="d-none d-xl-inline">Eroticfantasyclub</span></div>
                                </div>
                                <h1 class="h1_login">Enter email<br>to unlock girls</h1>
                                <form action="">
                                    <div class="login-form__inner">
                                        <div class="form-group form-group_login">
                                            <input class="form-control form-control_login" type="text" placeholder="Email">
                                        </div>
                                        <div class="form-group form-group_login">
                                            <input class="form-control form-control_login" type="password" placeholder="Password">
                                        </div>
                                        <div class="form-group form-group_login form-group_login-btn">
                                            <button class="btn-login btn btn_w100">Log In</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7">
                            <a class="login-label" href="#">4 new matches</a>
                            <div class="login-slider">
                                <div class="user-list-item user-list-item_login">
                                    <div class="user-list-item__pic">
                                        <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-01.jpg');">
                                            <div class="user-list-item__icon"></div>
                                        </div>
                                    </div>
                                    <div class="user-list-item__inf">
                                        <div class="user-list-item__row">
                                            <div class="user-list-item__name">Antonella</div>
                                            <div class="user-list-item__loc">Venice - 200 km</div>
                                        </div>
                                        <div class="compatibility compatibility_login mb-xl-0 d-flex justify-content-between align-items-center">
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress1">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Interests</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress2">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Location</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress3">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Matches</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-list-item user-list-item_login">
                                    <div class="user-list-item__pic">
                                        <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-02.jpg');">
                                            <div class="user-list-item__icon"></div>
                                        </div>
                                    </div>
                                    <div class="user-list-item__inf">
                                        <div class="user-list-item__row">
                                            <div class="user-list-item__name">Antonella</div>
                                            <div class="user-list-item__loc">Venice - 200 km</div>
                                        </div>
                                        <div class="compatibility compatibility_login mb-xl-0 d-flex justify-content-between align-items-center">
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress1">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Interests</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress2">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Location</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress3">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Matches</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-list-item user-list-item_login">
                                    <div class="user-list-item__pic">
                                        <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-03.jpg');">
                                            <div class="user-list-item__icon"></div>
                                        </div>
                                    </div>
                                    <div class="user-list-item__inf">
                                        <div class="user-list-item__row">
                                            <div class="user-list-item__name">Antonella</div>
                                            <div class="user-list-item__loc">Venice - 200 km</div>
                                        </div>
                                        <div class="compatibility compatibility_login mb-xl-0 d-flex justify-content-between align-items-center">
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress1">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Interests</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress2">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Location</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress3">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Matches</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-list-item user-list-item_login">
                                    <div class="user-list-item__pic">
                                        <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-04.jpg');">
                                            <div class="user-list-item__icon"></div>
                                        </div>
                                    </div>
                                    <div class="user-list-item__inf">
                                        <div class="user-list-item__row">
                                            <div class="user-list-item__name">Antonella</div>
                                            <div class="user-list-item__loc">Venice - 200 km</div>
                                        </div>
                                        <div class="compatibility compatibility_login mb-xl-0 d-flex justify-content-between align-items-center">
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress1">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Interests</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress2">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Location</div>
                                            </div>
                                            <div class="compatibility__chart">
                                                <div class="compatibility__progress progress3">
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                    <div class="dotmark"></div>
                                                </div>
                                                <div class="compatibility__title">Matches</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondscreen secondscreen_index">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                        <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/animation-js.html'))() %>

<%= _.template(require('./../includes/footer.html'))() %>