<%= _.template(require('./../includes/header.html'))() %>
    <main class="main">
        <div class="container container_text container_text-center">
            <div class="row">
                <div class="col">
                    <h2>Privacy Policy</h2>
                    <h3 class="mt-0">1.General Information</h3>
                    <p>
                        1.1. The subject of this Privacy Policy is the use of this Service and the sites, functions and performances offered as part of the Service, regardless of the domains, systems, platforms (e.g. web or Facebook) and devices (e.g. desktop or mobile) on which the Service is carried out.
                        <br>1.2. Information on the Service Provider can be found at the end of this Privacy Policy.
                    </p>
                    <h3>2.Definitions</h3>
                    <p>
                        2.1. Personally Identifiable Data - This kind of data can be used to uniquely identify, contact, or locate a single person or can be used with other sources to uniquely identify a single individual (e.g. names, e-mail-addresses).
                        <br>2.2. Pseudonymous Data - The pseudonymous data identifies a holder, that is, one or more human beings who possess but do not disclose their true names (e.g. "user5623").
                        <br>2.3. Cookies - A cookie is a small piece of data sent from a website and stored in a user's web browser while a user is browsing a website. When the user browses the same website in the future, the data stored in the cookie can be retrieved by the website to notify the website of the user's previous activity. We use Cookies in order to improve the usability of our services as well as for analyzing and personalizing purposes. Most browsers automatically accept cookies, but you can usually refuse cookies or selectively accept certain cookies by adjusting the preferences in your browser. If you turn off cookies, there may some features of our site that will not be available to you and some web pages may not display properly.
                        <br>2.4. IP Address - An Internet Protocol address (IP address) is a numerical label assigned to each device (e.g., computer, printer) participating in the Internet. We store the IP address only, if it is necessary to provide a service or if may be legally necessary.
                    </p>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>