<%= _.template(require('./../includes/header.html'))() %>
    <main class="main">
        <div class="container container_text">
            <div class="row">
                <div class="col">
                    <h2>Your Subscriptions</h2>
                    <form action="">
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                                <label class="custom-control-label" for="customSwitch2">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher form-group_swicher-last">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                <label class="custom-control-label" for="customSwitch4">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_btn-unsuscr">
                            <button class="btn btn_w100">save preferences</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>