<%= _.template(require('./../includes/header.html'))() %>
    <script>
        document.body.classList.add('body_bg');
    </script>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <main class="main">
        <div class="user-list-wrap">
            <div class="container container_xxl">
                <h2 class="h2_list">Best matches for you</h2>
                <div class="user-list">
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-01.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-02.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-03.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-04.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-05.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-06.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-07.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-08.jpg');">
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__row">
                                <div class="user-list-item__name">Antonella</div>
                                <div class="user-list-item__loc">Venice - 200 km</div>
                            </div>
                            <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress1">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress2">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress progress3">
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                        <div class="dotmark"></div>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-extra-wrap">
            <div class="container container_xxl">
                <div class="user-list-title">Claim 2 of these sexy matches by Signing Up and&nbsp;<br class="d-none d-md-block">I`ll reward you with $20 gift card!</div>
                <div class="user-list-extra">
                    <div class="user-list-item user-list-item_extra">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-01.jpg');">
                                <div class="user-list-item__icon"></div>
                            </div>
                        </div>
                        <div class="user-list-item__row user-list-item__row_extra">
                            <div class="user-list-item__name">Antonella</div>
                            <div class="user-list-item__loc">Venice - 200 km</div>
                        </div>
                    </div>
                    <div class="user-list-item user-list-item_extra">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-02.jpg');">
                                <div class="user-list-item__icon"></div>
                            </div>
                        </div>
                        <div class="user-list-item__row user-list-item__row_extra">
                            <div class="user-list-item__name">Antonella</div>
                            <div class="user-list-item__loc">Venice - 200 km</div>
                        </div>
                    </div>
                    <div class="user-list-item user-list-item_extra">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-03.jpg');">
                                <div class="user-list-item__icon"></div>
                            </div>
                        </div>
                        <div class="user-list-item__row user-list-item__row_extra">
                            <div class="user-list-item__name">Antonella</div>
                            <div class="user-list-item__loc">Venice - 200 km</div>
                        </div>
                    </div>
                    <div class="user-list-item user-list-item_extra">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-04.jpg');">
                                <div class="user-list-item__icon"></div>
                            </div>
                        </div>
                        <div class="user-list-item__row user-list-item__row_extra">
                            <div class="user-list-item__name">Antonella</div>
                            <div class="user-list-item__loc">Venice - 200 km</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>