<%= _.template(require('./../includes/header.html'))() %>
    <script>
        document.body.querySelector('header.header').classList.add('header_page-mobnull');
        document.body.classList.add('body_bg-profile');
    </script>
    <main class="main">
        <div class="container container_xxl container_profile">
            <div class="container__inner">
                <div class="userprofile">
                    <div class="userprofile__photo">
                        <div class="up-slider owl-carousel">
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/ava.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-01.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-02.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-03.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-04.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-05.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-06.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-07.jpg');"></div>
                            </div>
                            <div class="slide">
                                <div class="up-slider__img" style="background-image: url('img/photos/user-08.jpg');"></div>
                            </div>
                        </div>
                    </div>
                    <div class="userprofile__info">
                        <div class="userprofile__infobg">
                            <a class="btn btn_w100 userprofile__btn" href="#">claim her</a>
                            <div class="row">
                                <div class="col-12 col-xl-6 pr-xl-4">
                                    <div class="userprofile__row">
                                        <div class="userprofile__name">Antonella 23</div>
                                        <div class="userprofile__loc">Venice - 200 km</div>
                                    </div>
                                    <div class="compatibility compatibility_mb d-flex justify-content-center justify-content-xl-between align-items-center">
                                        <div class="compatibility__chart">
                                            <div class="compatibility__progress progress1">
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                            </div>
                                            <div class="compatibility__title">Interests</div>
                                        </div>
                                        <div class="compatibility__chart">
                                            <div class="compatibility__progress progress2">
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                            </div>
                                            <div class="compatibility__title">Location</div>
                                        </div>
                                        <div class="compatibility__chart">
                                            <div class="compatibility__progress progress3">
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                                <div class="dotmark"></div>
                                            </div>
                                            <div class="compatibility__title">Matches</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 pl-xl-4 pr-xl-5">
                                    <div class="user-profile-about">
                                        <div class="user-profile-title user-profile-about__title text-center text-xl-left">About Girl</div>
                                        <p>We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>