body {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size_mobile;
  color: $font_color;
  line-height: 1.5;
  background: $body_bg_color;
  @media (min-width: 992px) {
    font-size: $font_size;
  }

  &.body_bg {
    background-color: $bg_dark_1;
  }

  &.body_bg-profile {
    background-color: #fff;
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg.svg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
  }
}

.container {
  &.container_xxl { //profile, list
    @media (min-width: 1500px) {
      max-width: $container-xxl + $grid-gutter-width;
    }
    @media (min-width: 1920px) {
      max-width: $container-xxl + $grid-gutter-width;
    }
  }
  &.container_xxxl { //header
    @media (min-width: 1500px) {
      max-width: $container-xxl + $grid-gutter-width;
    }
    @media (min-width: 1920px) {
      max-width: $container-xxxl + $grid-gutter-width;
    }
  }
  &.container_index { //index, progress, login
    @media (min-width: 1920px) {}
  }
  &.container_settings {}
  &.container_profile {
    .container__inner_not {
      @media (min-width: 1200px) {
        padding: 0 10px;
      }
      @media (min-width: 1500px) {
        padding: 0 87px;
      }
    }
  }
  &.container_text {
    @media (min-width: 1200px) {
      max-width: 1088px + $grid-gutter-width;
    }
  }
  &.container_footer {}
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $body_bg_color;
  z-index: 999;
  transition: 0.5s all;
  opacity: 1;
  visibility: visible;
  .loader {
    width: 75px;
    height: 75px;
    background-image: url('../img/icons/heart.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s beat infinite linear, 1s spin infinite linear;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
  @keyframes beat {
    0% {
      width: 75px;
      height: 75px;
    }
    50% {
      width: 150px;
      height: 150px;
    }
    100% {
      width: 75px;
      height: 75px;
    }
  }
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    &.no-push-bottom {
      margin-bottom: $footer_height_mob;
    }
    &.no-push-bottom-mob {
      margin-bottom: $footer_height_mob;
    }
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 400px) {
      &.no-push-bottom-mob {
        margin-bottom: $body_mb_mob + $footer_height_mob;
      }
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
      &.no-push-bottom {
        margin-bottom: $footer_height;
      }
    }
  }
}

.d-xxl-none {
  @media (min-width: 1500px) {
    display: none !important;
  }
}
.d-xxl-block {
  @media (min-width: 1500px) {
    display: block !important;
  }
}
.d-xxxl-block {
  @media (min-width: 1920px) {
    display: block !important;
  }
}
