.footer {
  background-color: $bg_dark_1;
  a.footer__link {
    font-family: $font_family;
    font-weight: 400;
    color: $footer_text_color;
    font-size: 14px;
    line-height: 1;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: none;
  }
  a.footer__link:active {
    color: $footer_text_color_active;
    text-decoration: none;
  }
  a.footer__link {
    + a.footer__link {
      margin-top: 29px;
    }
  }
  @media (min-width: 992px) {
    a.footer__link {
      font-size: 18px;
      line-height: 24px;
    }
    a.footer__link {
      margin: 0;
      + a.footer__link {
        margin-top: 0;
        margin-left: 80px;
      }
    }
    a.footer__link:nth-child(2) {
      //margin: 0 35px 0 72px;
    }
  }
}

.footer__bottom {
  padding: 75px 0 64px;
  @media (min-width: 992px) {
    padding: 139px 0 158px;
  }
}
