*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.form-control {
  border: $input_border;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 20px 31px;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: $input_txt_xs_size;
  line-height: $input_txt_xs_lh;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &:focus {
    box-shadow: none;
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
    border-color: $btn_bg_color;
  }
  &::placeholder {
    color: $input_placeholder_color;
    opacity: 0.7;
  }
  @media (min-width: 992px) {
    padding: 34px 53px 33px;
    font-size: $input_txt_size;
    line-height: $input_txt_lh;
  }
  &.form-control_login {
    text-align: center;
    background-color: $input_hover_bg;
    &:hover {
      background-color: $input_bg;
      color: $input_hover_txt_color;
    }
    &:focus {
      box-shadow: none;
      background-color: $input_bg;
      color: $input_hover_txt_color;
      border-color: $btn_bg_color;
    }
    @media (min-width: 1200px) {
      padding: 15px 35px;
      //font-size: 20px;
    }
    @media (min-width: 1500px) {
      padding: 34px 53px 33px;
      font-size: $input_txt_size;
    }
  }
}
input.form-control {
  height: 56px;
  @media (min-width: 992px) {
    height: 56px;
  }
  @media (min-width: 1200px) {
    height: 98px;
  }
  &.form-control_login {
    height: 56px;
    @media (min-width: 1200px) {
      height: 98px;
    }
    @media (min-width: 1500px) {
      height: 98px;
    }
  }
}
textarea.form-control {
  border-radius: $textarea_border_radius_mob;
  min-height: 107px;
  @media (min-width: 768px) {
    height: 130px;
  }
  @media (min-width: 1200px) {
    border-radius: $textarea_border_radius;
    height: 186px;
  }
}
.form-group_20 {
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-bottom: 1.25rem;
  }
}
.form-group_30 {
  margin-bottom: 1.875rem;
}
.form-group_setlink {
  margin-top: 35px;
  @media (min-width: 1200px) {
    margin: 0;
  }
}
.form-group_40 {
  margin-bottom: 1.875rem;
  @media (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}
.form-group_index {
  margin-bottom: 37px;
  @media (min-width: 768px) {
    margin-bottom: 37px;
  }
}
.form-group_login {
  max-width: 497px;
  margin-bottom: 14px;
  @media (min-width: 992px) {
    margin-bottom: 23px;
  }
  @media (min-width: 1200px) {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  @media (min-width: 1500px) {
    width: 497px;
    max-width: 497px;
    margin-bottom: 23px;
  }
  @media (min-width: 1920px) {
    width: 497px;
    max-width: 497px;
    margin-bottom: 23px;
  }
}
.form-group_login-btn {
  margin: 16px 0 0;
  position: relative;
  @media (min-width: 1200px) {
    margin: 49px 0 0;
  }
}
.form-group_up-login {
  margin-top: 30px;
  margin-bottom: 0;
  @media (min-width: 1200px) {
    margin-top: 30px;
  }
  @media (min-width: 1920px) {
    margin-top: 40px;
  }
}
.form-group_input {
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    margin-bottom: 53px;
  }
}
.form-group_input2 {
  margin-bottom: 17px;
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.form-group_check1 {
  margin: 0 0 43px;
  @media (min-width: 1200px) {
    margin: 0 0 75px;
  }
}
.form-group_check {
  margin: 44px 0 42px;
  @media (min-width: 1200px) {
    margin: 45px 0 41px;
  }
}
.form-group_settings-btn {
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}
.form-group_swicher {
  margin: 0 0 20px;
  @media (min-width: 768px) {
    margin: 0 0 64px;
    padding: 0;
  }
}
.form-group_btn-unsuscr {
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 90px;
  }
}

.custom-checkbox {
  &.custom-control {
    padding-left: $checkbox_xs_padding_left;
    @media (min-width: 992px) {
      padding-left: $checkbox_padding_left;
    }
  }
  .custom-control-label {
    color: $checkbox_txt_color;
    font-family: $checkbox_txt_family;
    font-weight: 400;
    line-height: $checkbox_txt_xs_lh;
    font-size: $checkbox_txt_xs_size;
    cursor: pointer;
    &::before {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      background-color: $checkbox_bg_color;
      border: $checkbox_border !important;
      outline: none !important;
      border-radius: 100%;
      z-index: 1;
      //background: no-repeat 100% / 100% 100%;
      //background-image: url($checkbox_bg_icon);
    }
    &::after {
      top: $checkbox_xs_marker_top;
      left: $checkbox_xs_marker_left;
      width: $checkbox_xs_marker_width;
      height: $checkbox_xs_marker_height;
      outline: none !important;
      background: no-repeat 41% 35% / 42% 42%;
      border-radius: 100%;
      z-index: 0;
    }
    @media (min-width: 992px) {
      font-size: $checkbox_txt_size;
      line-height: $checkbox_txt_lh;
      &::before {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
      &::after {
        top: $checkbox_marker_top;
        left: $checkbox_marker_left;
        width: $checkbox_marker_width;
        height: $checkbox_marker_height;
        background: no-repeat 36% 15% / 40% 40%;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-color: $checkbox_checked_bg_color;
          background-image: url($checkbox_bg_icon_checked);
        }
        &::before {
          border-color: $checkbox_checked_border_color;
          background-color: $checkbox_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $checkbox_active_bg_color;
          //opacity: 0.5;
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
  &.custom-checkbox_settings {
    &.custom-control {
      padding-left: $checkbox_xs_padding_left - 5px;
      @media (min-width: 992px) {
        padding-left: $checkbox_padding_left - 5px;
      }
    }
    .custom-control-label {
      font-size: 17px;
      line-height: 21px;
      text-transform: uppercase;
      &::before {
        top: $checkbox_xs_top - 6px;
        left: $checkbox_xs_left + 5px;
      }
      &::after {
        top: $checkbox_xs_marker_top - 6px;
        left: $checkbox_xs_marker_left + 5px;
      }
      @media (min-width: 992px) {
        font-size: 18px;
        line-height: 23px;
        &::before {
          top: $checkbox_top - 11px;
          left: $checkbox_left + 5px;
        }
        &::after {
          top: $checkbox_marker_top - 11px;
          left: $checkbox_marker_left + 5px;
        }
      }
    }
  }
}

.custom-radio {
  &.custom-control {
    padding-left: $radio_xs_padding_left;
    @media (min-width: 992px) {
      padding-left: $radio_padding_left;
    }
    &.custom-control-inline {
      margin-right: 0;
      + .custom-control-inline {
        margin-left: 50px;
        @media (min-width: 1200px) {
          margin-left: 90px;
        }
      }
    }
  }
  .custom-control-label {
    color: $radio_txt_color;
    font-family: $radio_txt_family;
    font-weight: 400;
    font-size: $radio_txt_xs_size;
    line-height: $radio_txt_xs_lh;
    text-transform: uppercase;
    cursor: pointer;
    &::before {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      background-color: $radio_bg_color;
      border: $radio_border;
      outline: none !important;
      border-radius: 9px;
    }
    &::after {
      top: $radio_xs_marker_top;
      left: $radio_xs_marker_left;
      width: $radio_xs_marker_width;
      height: $radio_xs_marker_height;
      outline: none !important;
      border-radius: 3px;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 992px) {
      font-size: $radio_txt_size;
      line-height: $radio_txt_lh;
      &::before {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
        border-radius: 15px;
      }
      &::after {
        top: $radio_marker_top;
        left: $radio_marker_left;
        width: $radio_marker_width;
        height: $radio_marker_height;
        border-radius: 7px;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-color: $radio_checked_marker_color;
          background-image: none;
        }
        &::before {
          border-color: $radio_checked_border_color !important;
          background-color: $radio_checked_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border: $radio_hover_border;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $radio_active_bg_color;
          border: $radio_border;
        }
        &::after {
          //background-color: $radio_active_bg_color;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-switch {
  &.custom-control {
    //padding: $switch_bg_height_mob+$switch_margin_top_mob 0 0 0;
    padding: 0 0 0 $switch_bg_width_mob+$switch_margin_right_mob+3px;
    cursor: pointer;
    position: relative;
    @media (min-width: 992px) {
      padding: 0 0 0 $switch_bg_width+$switch_margin_right+6px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .custom-control-label {
    font-family: $switch_label_fontfamily;
    font-size: $switch_label_fontsize_mob;
    line-height: $switch_label_lineheight_mob;
    position: relative;
    &::before {
      content: $switch_txt;
      //left: 50%;
      //margin-left: -($switch_bg_width_mob/2);
      left: - $switch_bg_width_mob - $switch_margin_right_mob;
      //top: - $switch_bg_height_mob - $switch_margin_top_mob;
      top: calc(0.25rem + 3px);
      width: $switch_bg_width_mob;
      height: $switch_bg_height_mob;
      border: $switch_border;
      border-radius: $switch_bg_border_radius;
      background-color: $switch_bg_color;
      cursor: pointer;
    }
    &::after {
      text-align: center;
      font-size: $switch_dot_txt_size_mob;
      padding: $switch_dot_txt_padding_mob;
      color: $switch_dot_txt_color;
      //top: - $switch_bg_height_mob - $switch_margin_top_mob + 6px;
      top: calc(0.25rem + 20px);
      //left: 50%;
      //margin-left: -($switch_dot_size_w_mob/2) - 16px;
      left: - $switch_bg_width_mob - $switch_margin_right_mob - 2px;
      width: $switch_dot_size_w_mob;
      height: $switch_dot_size_h_mob;
      border-radius: $switch_dot_border_radius;
      background-color: $switch_dot_color;
      border: $switch_dot_border;
      cursor: pointer;
    }
    @media (min-width: 992px) {
      font-size: $switch_label_fontsize;
      line-height: $switch_label_lineheight;
      &::before {
        top: calc(0.25rem + 14px);
        left: - $switch_bg_width - $switch_margin_right + 0px;
        margin-left: 0;
        width: $switch_bg_width;
        height: $switch_bg_height;
      }
      &::after {
        font-size: $switch_dot_txt_size;
        padding: $switch_dot_txt_padding;
        top: 57px;
        left: - $switch_bg_width - $switch_margin_right + 20px;
        margin-left: -($switch_dot_size_w/2) - 2px;
        width: $switch_dot_size_w;
        height: $switch_dot_size_h;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::before {
          border-color: $switch_border_color;
          background-color: $switch_bg_color_checked;
          color: $switch_txt_color_checked;
        }
        &::after {
          background-color: $switch_dot_color_checked;
          color: $switch_dot_txt_color_checked;
          transform: translateY(-21px);
          @media (min-width: 992px) {
            transform: translateY(-45px);
          }
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
    &:focus:not(:checked) {
      ~.custom-control-label {
        &::before {
          border-color: $switch_border_color;
        }
      }
    }
    &:not(:disabled):active {
      ~ .custom-control-label {
        &::before {
          background-color: $switch_bg_color_active;
          border-color: $switch_border_color;
        }
      }
    }
  }
  &.custom-switch_color2 {
    .custom-control-label {
      &::before {
        background-color: $body_bg_color;
      }
      &::after {
        background-color: #CDCCCD;
      }
    }
    .custom-control-input {
      &:checked {
        ~.custom-control-label {
          &::before {
            background-color: $body_bg_color;
          }
          &::after {
            background-color: $btn_bg_color;
          }
        }
      }
      &:not(:disabled):active {
        ~ .custom-control-label {
          &::before {
            background-color: $body_bg_color;
          }
        }
      }
    }
  }
  &.custom-switch_inline {
    &.custom-control {
      padding: 0 0 0 $switch_bg_width_mob+$switch_margin_right_inline_mob+3px;
      @media (min-width: 992px) {
        padding: 0 0 0 $switch_bg_width+$switch_margin_right_inline+6px;
      }
    }
    .custom-control-label {
      text-transform: uppercase;
      font-size: 15px;
      line-height: 19px;
      padding: 14px 0;
      &::before {
        left: - $switch_bg_width_mob - $switch_margin_right_inline_mob;
      }
      &::after {
        left: - $switch_bg_width_mob - $switch_margin_right_inline_mob - 2px;
      }
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 30px;
        padding: 40px 0;
        &::before {
          left: - $switch_bg_width - $switch_margin_right_inline + 0px;
        }
        &::after {
          left: - $switch_bg_width - $switch_margin_right_inline + 20px;
          margin-left: -($switch_dot_size_w/2) - 2px;
        }
      }
    }
  }
}

.custom-file {
  display: block;
  width: 180px;
  height: auto;
  @media (min-width: 768px) {
    width: 180px;
  }
  @media (min-width: 1200px) {
    width: 280px;
  }
  .custom-file-input {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .custom-file-area {
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.btn {
  width: 100%;
  height: 60px;
  padding: 21px 9px;
  border-radius: 15px;
  background: $btn_bg_color;
  border: none;
  font-family: $font_family;
  font-size: 16px;
  font-weight: 400;
  color: $font_color2;
  line-height: 1;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  &:hover {
    color: $font_color2;
    background-color: $btn_bg_color_hover;
  }
  &:active {
    color: $font_color2;
    background-color: $btn_bg_color_active;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (min-width: 992px) {
    width: auto;
    height: 98px;
    font-size: 24px;
    padding: 35px 15px;
  }
  &.btn_1 { //index
    display: block;
    width: 100%;
    max-width: 538px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 382px;
    }
    @media (min-width: 992px) {
      height: 60px;
      font-size: 16px;
      padding: 21px 9px;
    }
    @media (min-width: 1200px) {
      width: 100%;
      margin: 0;
    }
    @media (min-width: 1500px) {
      width: 100%;
      margin: 0;
      height: 98px;
      font-size: 24px;
      padding: 35px 15px;
    }
  }
  &.btn-login {
    @media (min-width: 992px) {
      height: 72px;
      padding: 23px 8px;
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      height: 98px;
      width: auto;
      font-size: 24px;
      padding: 23px 35px;
    }
    @media (min-width: 1500px) {
      height: 98px;
      font-size: 24px;
      padding: 33px 15px 33px;
    }
  }
  &.btn_2 { //user list
    width: calc(100% + 8px + 8px);
    height: 29px;
    font-size: 9px;
    line-height: 1;
    padding: 9px 8px 9px;
    border-radius: 5px;
    bottom: -27px - 15px;
    left: -8px;
    @media (min-width: $user_list_item_breakpoint) {
      width: calc(100% + 26px + 26px + 10px);
      left: -26px - 5px;
      bottom: -46px - 44px;
      height: 59px;
      font-size: 19px;
      padding: 18px 15px 17px;
      border-radius: 15px;
    }
  }
  &.btn_3 { //change photo
    width: 180px;
    height: 42px;
    padding: 14px 10px 14px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #fff;
    color: $font_color;
    border: none;
    &:hover {
      background-color: $btn_bg_color_hover;
      color: $font_color2;
    }
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      font-size: 24px;
      padding: 20px 15px 20px;
      width: 280px;
      height: 66px;
    }
  }
  &.btn_4 { //signout
    height: 60px;
    padding: 22px 10px;
    border-radius: 15px;
    font-size: 16px;
    background-color: $bg_light_2;
    color: $font_color;
    border: none;
    &:hover {
      background-color: $btn_bg_color_hover;
      color: $font_color2;
    }
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      font-size: 24px;
      padding: 21px 15px;
      width: 280px;
      height: 66px;
    }
  }
  &.btn_w100 {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-set1 {
    flex: 0 0 538px;
    max-width: 538px;
  }
  .col-xxl-set2 {
    flex: 0 0 753px;
    max-width: 753px;
  }
}

@media (min-width: 1920px) {
  .col-xxxl-40 {
    flex: 0 0 39%;
    max-width: 39%;
  }
  .col-xxxl-60 {
    flex: 0 0 61%;
    max-width: 61%;
  }
}

@media (min-width: 576px) {
  .px-sm-15px {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}