.header {
  position: relative;
  &.expand {
    .header__nav-toggle {
      .menu {
        //background-image: url('../img/icons/close.svg');
      }
    }
    .header-menu {
      display: block;
    }
  }
}

.body_bg {
  .header {
    background-color: $body_bg_color;
    margin: 0;
  }
}

.body_bg-profile {
  .header {
    background-color: $body_bg_color;
    @media (min-width: 1200px) {
      background-color: transparent;
    }
  }
}

.notice {
  display: inline-block;
  background-color: $body_bg_color;
  border-radius: 5px;
  color: $font_color;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 13px;
  line-height: 1;
  text-align: center;
  margin: 16px 0 0 0;
  &:hover {
    color: $font_color2;
    background-color: $btn_bg_color_hover;
  }
  @media (min-width: 992px) {
    font-size: 19px;
    padding: 8px 14px;
    margin: 0 0 0 16px;
  }
}

.header_page {
  margin-bottom: 43px;
  @media (min-width: 992px) {
    margin-bottom: 67px;
  }
}

.header_page-mobnull {
  margin: 0;
  @media (min-width: 992px) {
    margin-bottom: 67px;
  }
}

.header_page-list {
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 100px;
  }
}

.header__row {
  padding: 32px 0 32px;
  @media (min-width: 992px) {
    padding: 80px 0 93px;
  }
  .header__row-inline {
    position: relative;
  }
}

.header__nav-toggle {
  .menu {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    background-image: url('../img/icons/menu.svg');
    //transition: 0.1s all;
    cursor: pointer;
    @media (min-width: 992px) {
      width: 50px;
      height: 50px;
    }
    &:hover {
      opacity: 0.8;
    }
    &.menu_notify {
      background-image: url('../img/icons/menu-notifications.svg');
      background-position-y: calc(50% - 2px);
      @media (min-width: 992px) {
        background-position-y: calc(50% - 4px);
      }
    }
  }
}

.header__userinfo {
  .header__userinfo-text {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 500;
    color: $font_color2;
    font-size: 23px;
    letter-spacing: 1px;
    .notice {
      @media (min-width: 992px) {
        margin: 0 0 0 28px;
      }
    }
  }
}

.header-menu {
  display: none;
  background-color: $bg_dark_1;
}
.header-menu__wrap {
  padding: 15px 0;
}
.header-menu__item {
  padding: 39px 0 39px;
  font-family: $font_family2;
  font-weight: 700;
  font-size: 14px;
  color: $font_color3;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  &:hover {
    text-decoration: none;
    color: $link_hover_color;
    .notice {
      background-color: $btn_bg_color_hover;
      color: $font_color3;
    }
  }
}
.header-menu__item-text {
  word-break: break-all;
  line-height: 1;
}



