.user-list-item {
  &.user-list-item_login {
    width: 152px;
    min-width: 152px;
    margin: 0;
    padding: 13px 9px 20px;
    position: relative;
    @media (min-width: 432px) {
      margin: 0;
    }
    @media (min-width: $user_list_item_breakpoint) {
      width: 290px;
      min-width: 290px;
      padding: 28px 26px 46px;
      margin: 0;
    }
    @media (min-width: 1200px) {
      margin: 0;
    }
    .user-list-item__pic {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
      height: 178px;
      max-height: 178px;
      @media (min-width: $user_list_item_breakpoint) {
        width: 238px;
        max-width: 238px;
        min-width: 238px;
        height: 352px;
        max-height: 352px;
      }
    }
    .user-list-item__row {
      padding: 14px 0 17px;
      @media (min-width: $user_list_item_breakpoint) {
        padding: 22px 0 26px;
      }
      .user-list-item__name {
        font-size: 12px;
        margin-bottom: 4px;
        @media (min-width: $user_list_item_breakpoint) {
          font-size: 21px;
          margin-bottom: 10px;
        }
      }
      .user-list-item__loc {
        font-size: 7px;
        @media (min-width: $user_list_item_breakpoint) {
          font-size: 15px;
        }
      }
    }
  }
}

.login-form {
  width: 100%;
  max-width: 404px;
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .login-form__inner {}
}

.login-slider-wrap {
  margin: 0 -15px 39px 0;
  @media (min-width: 1200px) {
    margin: 0;
  }
}
.login-slider {
  padding: 50px 0 0;
  @media (min-width: 992px) {
    padding: 70px 0 0;
  }
  @media (min-width: 1200px) {
    width: 620px;
    padding: 0;
  }
  @media (min-width: 1500px) {
    width: 780px;
  }
  @media (min-width: 1920px) {
    width: 950px;
  }
  .user-list-item_extra {
    @media (min-width: 432px) {
      margin: 23px 0 0 !important;
    }
    @media (min-width: $user_list_item_breakpoint) {
      margin: 46px 0 0 !important;
    }
  }
}

.login-label {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    color: $font_color;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 45px;
  }
  @media (min-width: 1500px) {
    font-size: 30px;
    margin: 0 0 96px;
  }
  @media (min-width: 1920px) {
    font-size: 30px;
    margin: 0 0 96px;
  }
}

.login-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 103px 0 58px;
}

.login-progress {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  padding-top: 17px;
  @media (min-width: 1200px) {
    padding-top: 8px;
  }
}

.loading {
  margin-bottom: 55px;
  @media (min-width: 1200px) {
    margin-bottom: 68px;
  }
}
.loading__title {
  font-family: $font_family;
  font-weight: 600;
  color: $font_color;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 13px;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 21px;
  }
}
.loading__progress {}
.progress_loading {
  width: 100%;
  height: 41px;
  border: 5px solid #C992FF;
  background-color: #C992FF;
  border-radius: 100px;
  @media (min-width: 1200px) {
    height: 60px;
    border: 9px solid #C992FF;
  }
  .progress-bar {
    background-color: $btn_bg_color;
    border-radius: 100px;
  }
}
.progress__label {
  font-family: $font_family;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: calc(50% - 8px);
  @media (min-width: 1200px) {
    height: 40px;
    font-size: 22px;
    top: calc(50% - 12px);
  }
}