.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .logo__img {
    width: 29px;
    height: 29px;
    margin: 0 7px 3px 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url('../img/icons/logo.svg');
    @media (min-width: 992px) {
      width: 65px;
      height: 65px;
      margin: 0 24px 6px 0;
    }
  }
  .logo__txt {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 700;
    color: $font_color;
    font-size: 14px;
    letter-spacing: 2px;
    @media (min-width: 992px) {
      letter-spacing: 5px;
      font-size: 30px;
    }
  }
}

.logo_main {
  flex-direction: column;
  margin: 52px 0 0;
  @media (min-width: 992px) {
    margin: 52px 0 0;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: flex-start;
    margin: 80px 0 0;
  }
  @media (min-width: 1500px) {
    margin: 143px 0 0;
  }
  @media (min-width: 1920px) {
    margin: 143px 0 0;
  }
  .logo__img {
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    margin: 0 0 16px 0;
    @media (min-width: 992px) {
      width: 65px;
      height: 65px;
      flex: 0 0 65px;
      margin: 0 0 16px 0;
    }
    @media (min-width: 1200px) {
      margin: 0 24px 0 0;
    }
  }
  .logo__txt {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (min-width: 1200px) {
      letter-spacing: 3px;
      font-size: 24px;
      text-align: left;
      line-height: 38px;
      padding-top: 10px;
    }
    @media (min-width: 1500px) {
      letter-spacing: 5px;
      font-size: 30px;
    }
    @media (min-width: 1920px) {
      letter-spacing: 5px;
      font-size: 30px;
    }
  }
}

.logo_search {
  flex-direction: column;
  .logo__img {
    width: 129px;
    height: 127px;
    margin: 0 0 17px 0;
    background-image: url('../img/icons/heart.svg');
    animation: 2s heartbeat1 infinite linear, 1s heartspin infinite linear;
    position: absolute;
    @media (min-width: 1200px) {
      width: 269px;
      height: 263px;
      margin: 0 0 55px 0;
      animation: 2s heartbeat2 infinite linear, 1s heartspin infinite linear;
    }
  }
  .logo__txt {
    font-size: 23px;
    line-height: 37px;
    letter-spacing: 1px;
    text-align: center;
    padding: 180px 0 0;
    @media (min-width: 1200px) {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 3px;
      padding: 318px 0 0;
    }
  }
}

.logo_footer {
  margin: 0 0 40px 0;
  @media (min-width: 992px) {
    margin: 0 0 89px 0;
  }
  .logo__img {
    background-image: url('../img/icons/logo-light.svg');
  }
  .logo__txt {
    color: $font_color3;
  }
}


@keyframes heartspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat1 {
  0% {
    width: 129px;
    height: 127px;
  }
  50% {
    width: 83px;
    height: 82px;
  }
  100% {
    width: 129px;
    height: 127px;
  }
}

@keyframes heartbeat2 {
  0% {
    width: 129px;
    height: 127px;
  }
  50% {
    width: 269px;
    height: 263px;
  }
  100% {
    width: 129px;
    height: 127px;
  }
}
