.user-list-wrap {
  background-color: $body_bg_color;
  position: relative;
  top: -1px;
  padding: 43px 0 21px 0;
  overflow: hidden;
  @media (min-width: 992px) {
    padding: 67px 0 21px 0;
  }
  @media (min-width: 1200px) {
    padding: 67px 0 10px 0;
  }
}

.user-list-extra-wrap {
  padding: 64px 0 0;
  @media (min-width: 1200px) {
    padding: 156px 0 0;
  }
}

.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1500px) {
    justify-content: space-between;
  }
}

.user-list-item {
  width: 138px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0 0 48px 0;
  padding: 13px 8px 27px;
  position: relative;
  background-color: #fff;
  @media (min-width: 432px) {
    margin: 0 10px 48px;
  }
  @media (min-width: $user_list_item_breakpoint) {
    width: 290px;
    padding: 28px 26px 46px;
    margin: 0 10px 100px;
    border-radius: 15px;
  }
  @media (min-width: 1200px) {
    margin: 0 0 100px;
  }
  .user-list-item__pic {
    width: 109px;
    max-width: 109px;
    min-width: 109px;
    height: 162px;
    max-height: 162px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    @media (min-width: $user_list_item_breakpoint) {
      width: 238px;
      max-width: 238px;
      min-width: 238px;
      height: 352px;
      max-height: 352px;
      border-radius: 15px;
    }
    .user-list-item__img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: relative;
    }
  }
  .user-list-item__inf {
    width: 100%;
    position: relative;
  }
  .user-list-item__row {
    width: 100%;
    text-align: center;
    padding: 13px 0 15px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 22px 0 26px;
    }
    .user-list-item__name {
      font-family: $font_family2;
      font-weight: 500;
      line-height: 1;
      font-size: 11px;
      margin-bottom: 4px;
      text-transform: uppercase;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 21px;
        margin-bottom: 10px;
      }
    }
    .user-list-item__loc {
      font-family: $font_family;
      font-weight: 500;
      font-size: 7px;
      line-height: 1;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 15px;
      }
    }
    &.user-list-item__row_extra {
      padding: 12px 0 17px;
      @media (min-width: $user_list_item_breakpoint) {
        padding: 22px 0 26px;
      }
    }
  }
  .user-list-item__title {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 400;
    font-size: 9px;
    line-height: 1;
    margin-bottom: 15px;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 19px;
      margin-bottom: 30px;
    }
  }
  .user-list-item__btn {
    position: absolute;
  }
  .user-list-item__icon {
    width: 25px;
    height: 32px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url('../img/icons/lock.svg');
    @media (min-width: $user_list_item_breakpoint) {
      width: 45px;
      height: 56px;
    }
  }
  &.user-list-item_extra {
    margin: 15px 0 0;
    position: relative;
    padding-bottom: 0;
    @media (min-width: 432px) {
      margin: 15px 10px 0;
    }
    @media (min-width: $user_list_item_breakpoint) {
      margin: 60px 10px 0;
    }
    .user-list-item__pic {}
  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: $user_list_title_color;
  text-align: center;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 35px;
    line-height: 50px;
  }
}

.user-list-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 45px 0 0;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    margin: 33px 0 0;
  }
  @media (min-width: 1500px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}